.chat-btn{
    background-color: rgb(14, 14, 234);
    border-radius: 50px;
    bottom: 30px;
    color: #fff;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 22px;
    height: 50px;
    position: fixed;
    right: 14px;
    width: 50px;
    z-index: 2; 
}

.chat-btn .close{
    display: none;
}

.chat-wrapper{
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    position: fixed;
        bottom: 100px;
        right: 20px;
    transition: all 0.4s;
    width: 300px;
    z-index: 2;
}

.chat-header{
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    margin-bottom: 10px;
    padding: 13px;
}

.chat-msg{
    max-height: 300px;
    overflow: auto;
}

#check:checked ~ .chat-btn i {
    display:block;
}

#check:checked ~ .chat-btn .comment {
    display:none;
}

#check:checked ~ .chat-wrapper{
    opacity: 1;
}

#check{
    display: none !important;
}

.chat-form{
    padding: 15px;
}

.chat-form button,
.chat-form input,
.chat-form textarea {
    margin-bottom: 10px;
}

.chat-form textarea{
    resize: none;
}

.form-control:focus,
.btn:focus{
    box-shadow: none;
}
